interactions:
  - request:
      body:
        '{"simulationName": "TST/00000002", "countryCode": "US", "beginDate":
        "2023-02-20", "language": "en_US", "depots": [{"x": 0.0, "y": 0.0, "id":
        "dep_1"}], "orders": [{"customerId": false, "fixedVisitDuration": "00:03:00",
        "id": 9, "label": "Wood Corner", "phone": "(623)-853-7197", "type": 0, "x": 0.0,
        "y": 0.0, "customDataMap": {"address": "Wood Corner\n1839 Arbor Way\n\nTurlock
        CA 95380\nUnited States"}, "timeWindows": [{"beginTime": "08:00", "endTime":
        "17:00"}]}, {"customerId": false, "fixedVisitDuration": "00:03:00", "id": 31,
        "label": "Gemini Furniture, Oscar Morgan", "phone": "(561)-239-1744", "type": 0,
        "x": 0.0, "y": 0.0, "customDataMap": {"address": "Gemini Furniture\n317
        Fairchild Dr\n\nFairfield CA 94535\nUnited States"}, "timeWindows":
        [{"beginTime": "08:00", "endTime": "17:00"}]}], "resources": [{"id": "D1",
        "mobileLogin": "d1@email.com", "openStart": false, "loadBeforeDeparture": true,
        "noReload": true, "globalCapacity": 9999, "useAllCapacities": false, "startX":
        0.0, "startY": 0.0, "endX": 0.0, "endY": 0.0, "workStartTime": "02:29:00",
        "fixedLoadingDuration": "00:00:00", "travelPenalty": 0.0, "workPenalty": 0.0},
        {"id": "D2", "mobileLogin": "d2@email.com", "openStart": false,
        "loadBeforeDeparture": true, "noReload": true, "globalCapacity": 9999,
        "useAllCapacities": false, "startX": 0.0, "startY": 0.0, "endX": 0.0, "endY":
        0.0, "workStartTime": "02:29:00", "fixedLoadingDuration": "00:00:00",
        "travelPenalty": 0.0, "workPenalty": 0.0}], "options": {"vehicleCode":
        "deliveryIntermediateVehicle", "maxOptimDuration": "00:00:00",
        "useForbiddenTransitAreas": false}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/optimize?tsCloudApiKey=fake_api_key
    response:
      body:
        string: '{"message":null,"status":"OK","taskId":"7FFFFE79952E95FD4ZD-9FWZQBuyh4qWhv2qpg"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: ""
version: 1
