interactions:
  - request:
      body:
        '{"simulationName": "TST/00000034", "countryCode": "US", "beginDate":
        "2023-02-20", "language": "en_US", "depots": [{"x": 0.0, "y": 0.0, "id":
        "dep_1"}], "orders": [{"customerId": false, "fixedVisitDuration": "00:03:00",
        "id": 9, "label": "Wood Corner", "phone": "(623)-853-7197", "type": 0, "x": 0.0,
        "y": 0.0, "customDataMap": {"address": "Wood Corner\n1839 Arbor Way\n\nTurlock
        CA 95380\nUnited States"}, "timeWindows": [{"beginTime": "08:00", "endTime":
        "17:00"}]}, {"customerId": false, "fixedVisitDuration": "00:03:00", "id": 31,
        "label": "Gemini Furniture, Oscar Morgan", "phone": "(561)-239-1744", "type": 0,
        "x": 0.0, "y": 0.0, "customDataMap": {"address": "Gemini Furniture\n317
        Fairchild Dr\n\nFairfield CA 94535\nUnited States"}, "timeWindows":
        [{"beginTime": "08:00", "endTime": "17:00"}]}], "resources": [{"id": "D1",
        "mobileLogin": "d1@email.com", "openStart": false, "loadBeforeDeparture": true,
        "noReload": true, "globalCapacity": 9999, "useAllCapacities": false, "startX":
        0.0, "startY": 0.0, "endX": 0.0, "endY": 0.0, "workStartTime": "17:07:00",
        "fixedLoadingDuration": "00:00:00", "travelPenalty": 0.0, "workPenalty": 0.0},
        {"id": "D2", "mobileLogin": "d2@email.com", "openStart": false,
        "loadBeforeDeparture": true, "noReload": true, "globalCapacity": 9999,
        "useAllCapacities": false, "startX": 0.0, "startY": 0.0, "endX": 0.0, "endY":
        0.0, "workStartTime": "17:07:00", "fixedLoadingDuration": "00:00:00",
        "travelPenalty": 0.0, "workPenalty": 0.0}], "options": {"vehicleCode":
        "deliveryIntermediateVehicle", "maxOptimDuration": "00:00:00",
        "useForbiddenTransitAreas": false}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/optimize?tsCloudApiKey=fake_api_key
    response:
      body:
        string: '{"message":null,"status":"OK","taskId":"7FFFFE79906B4288VjokZIK5TJSH0PH1Mlw77w"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: ""
  - request:
      body: null
      headers:
      method: GET
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/status?taskId=7FFFFE79906B4288VjokZIK5TJSH0PH1Mlw77w&tsCloudApiKey=fake_api_key
    response:
      body:
        string: '{"message":null,"status":"OK","optimizeStatus":"TERMINATED","startTime":1676909264236,"initialCost":1,"currentCost":1,"initialDriveDistance":0,"currentDriveDistance":0,"initialDriveTime":0,"currentDriveTime":0,"initialDriveCost":0,"currentDriveCost":0,"initialWorkTime":360,"currentWorkTime":360,"initialWorkCost":1,"currentWorkCost":1,"initialOverWorkTime":0,"currentOverWorkTime":0,"initialOverWorkCost":0,"currentOverWorkCost":0,"initialRestTime":0,"currentRestTime":0,"initialNightsCost":0,"currentNightsCost":0,"initialCourierCost":0,"currentCourierCost":0,"initialDeliveryCost":0,"currentDeliveryCost":0,"initialFixedCost":0,"currentFixedCost":0,"initialPickUpQuantity":0.0,"currentPickUpQuantity":0.0,"initialDeliveredQuantity":0.0,"currentDeliveredQuantity":0.0,"initialUnplannedVisits":0,"currentUnplannedVisits":0,"initialPlannedVisits":0,"currentPlannedVisits":0,"currentVisitsNb":2,"initialLateTime":1020,"currentLateTime":1020,"initialWaitTime":0,"currentWaitTime":0,"mileageChartRemainingTime":0,"initialCo2":0.0,"currentCo2":0.0,"initialOpenTourNumber":1,"currentOpenTourNumber":1,"subOptimNb":0,"subOptimWaitingNb":0,"subOptimRunningNb":0,"subOptimFinishedNb":0,"subOptimErrorNb":0,"subOptimAbortedNb":0,"simulationId":"7FFFFE79906B42C27iTIDFHlQT2UHxnPr7yFzg","positionInQueue":0}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: ""
  - request:
      body: null
      headers:
      method: GET
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/toursResult?taskId=7FFFFE79906B4288VjokZIK5TJSH0PH1Mlw77w&tsCloudApiKey=fake_api_key
    response:
      body:
        string:
          '{"message":null,"status":"fail","tours":[{"plannedOrders":[{"resourceId":"D2","dayId":"1","stopId":"Start","stopPosition":0,"stopY":0.0,"stopX":0.0,"stopType":1,"stopDriveTime":"00:00","stopStartTime":"17:07","stopDuration":"00:00","stopStatus":0,"stopDriveDistance":0,"stopElapsedDistance":0,"placeName":null,"placeAddress":null,"aggregationInfo":null,"walkGoupRootId":null,"stopDriveSpeed":0.0},{"resourceId":"D2","dayId":"1","stopId":"Reload
          (dep_1)","stopPosition":0,"stopY":0.0,"stopX":0.0,"stopType":4,"stopDriveTime":"00:00","stopStartTime":"17:07","stopDuration":"00:00","stopStatus":0,"stopDriveDistance":0,"stopElapsedDistance":0,"placeName":null,"placeAddress":null,"aggregationInfo":null,"walkGoupRootId":null,"stopDriveSpeed":0.0},{"resourceId":"D2","dayId":"1","stopId":"9","stopPosition":2,"stopY":0.0,"stopX":0.0,"stopType":0,"stopDriveTime":"00:00","stopStartTime":"17:10","stopDuration":"00:03","stopStatus":1,"stopDriveDistance":0,"stopElapsedDistance":0,"placeName":null,"placeAddress":null,"aggregationInfo":null,"walkGoupRootId":null,"stopDriveSpeed":0.0},{"resourceId":"D2","dayId":"1","stopId":"End","stopPosition":0,"stopY":0.0,"stopX":0.0,"stopType":2,"stopDriveTime":"00:00","stopStartTime":"17:13","stopDuration":"00:00","stopStatus":0,"stopDriveDistance":0,"stopElapsedDistance":0,"placeName":null,"placeAddress":null,"aggregationInfo":null,"walkGoupRootId":null,"stopDriveSpeed":0.0}]}],"unplannedOrders":[],"warnings":[{"objectType":"R","id":"D1","constraint":29,"constraintName":"WORKPENALTY","value":"0.0","message":"Journey
          cost and hourly cost can not be set both to zero: default values will be
          applied.","messageId":6,"i18nMessageCode":"missingMandatoryPenalties"},{"objectType":"R","id":"D2","constraint":29,"constraintName":"WORKPENALTY","value":"0.0","message":"Journey
          cost and hourly cost can not be set both to zero: default values will be
          applied.","messageId":6,"i18nMessageCode":"missingMandatoryPenalties"}],"taskId":"7FFFFE79906B4288VjokZIK5TJSH0PH1Mlw77w","simulationId":"7FFFFE79906B42C27iTIDFHlQT2UHxnPr7yFzg","inputData":null}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: ""
version: 1
