interactions:
  - request:
      body:
        '{"simulationName": "TST/00000027", "countryCode": "US", "beginDate":
        "2023-02-20", "language": "en_US", "depots": [{"x": 0.0, "y": 0.0, "id":
        "dep_1"}], "orders": [{"customerId": false, "fixedVisitDuration": "00:03:00",
        "id": 9, "label": "Wood Corner", "phone": "(623)-853-7197", "type": 0, "x": 0.0,
        "y": 0.0, "customDataMap": {"address": "Wood Corner\n1839 Arbor Way\n\nTurlock
        CA 95380\nUnited States"}, "timeWindows": [{"beginTime": "08:00", "endTime":
        "17:00"}]}, {"customerId": false, "fixedVisitDuration": "00:03:00", "id": 31,
        "label": "Gemini Furniture, Oscar Morgan", "phone": "(561)-239-1744", "type": 0,
        "x": 0.0, "y": 0.0, "customDataMap": {"address": "Gemini Furniture\n317
        Fairchild Dr\n\nFairfield CA 94535\nUnited States"}, "timeWindows":
        [{"beginTime": "08:00", "endTime": "17:00"}]}], "resources": [], "options":
        {"vehicleCode": "deliveryIntermediateVehicle", "maxOptimDuration": "00:00:00",
        "useForbiddenTransitAreas": false}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/optimize?tsCloudApiKey=fake_api_key
    response:
      body:
        string: ""
      headers:
      status:
        code: 403
        message: ""
version: 1
