interactions:
  - request:
      body:
        '{"simulationName": 52, "countryCode": "BE", "beginDate": "2023-02-18",
        "language": "en_US", "depots": [{"x": 0.0, "y": 0.0, "id": "dep_1"}], "orders":
        [], "resources": [], "options": {}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://geoservices.geoconcept.com/ToursolverCloud/api/ts/toursolver/optimize?tsCloudApiKey=fake_api_key
    response:
      body:
        string: '{"message":"no orders found","status":"ERROR","taskId":null}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: ""
version: 1
