<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="menu_tms_telematics_reading"
        name="Telematics"
        action="action_tms_telematics_reading"
        parent="tms.operations"
        sequence="30"
    />
    <menuitem
        id="menu_tms_telematics_account"
        name="Telematics Accounts"
        action="action_tms_telematics_account"
        parent="tms.config"
        sequence="80"
        groups="tms.group_tms_admin"
    />
    <menuitem
        id="menu_tms_telematics_device"
        name="Telematics Devices"
        action="action_tms_telematics_device"
        parent="tms.config"
        sequence="90"
        groups="tms.group_tms_admin"
    />
</odoo>
